version: '3.8'

services:
  chaussup-web:
    build: .
    image: chaussup-web:0.1.0
    container_name: chaussup-web
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
      - DB_HOST=db-01-chaussup-pg.postgres.database.azure.com
      - DB_NAME=chaussup
    secrets:
      - db_user
      - db_password
      - secret_key
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

secrets:
  db_user:
    external: true
  db_password:
    external: true
  secret_key:
    external: true